In [1]:
import os 
import polars as pl

In [2]:
os.chdir("/Users/samuel/Documents/GitHub/QB-GPT/")

In [3]:
data = pl.read_parquet("data_preprocessing/0_raw/final_df_2024.parquet")

In [23]:
(data.
 select("gameId").
 unique())

shape: (1_042, 1)
┌────────────┐
│ gameId     │
│ ---        │
│ i64        │
╞════════════╡
│ 2020092704 │
│ 2018101408 │
│ 2019093000 │
│ 2020111200 │
│ …          │
│ 2022100207 │
│ 2022102311 │
│ 2021010311 │
│ 2022091111 │
└────────────┘

In [19]:
(data.
 select("data_source", "season", "PlayType", "Length").
 group_by("season", "PlayType").
 agg([pl.col("Length").sum().alias("Number of frames"),
     pl.count().alias("Number of trajectories")]).
 sort(pl.col("season")).
 select( "Number of frames").
 sum())

shape: (1, 1)
┌──────────────────┐
│ Number of frames │
│ ---              │
│ i32              │
╞══════════════════╡
│ 37768611         │
└──────────────────┘

In [12]:
(data.
 select("data_source", "season", "PlayType", "Length").
 group_by("data_source", "season", "PlayType").
 count())

shape: (40, 4)
┌─────────────────────┬────────┬──────────┬───────┐
│ data_source         ┆ season ┆ PlayType ┆ count │
│ ---                 ┆ ---    ┆ ---      ┆ ---   │
│ str                 ┆ i64    ┆ str      ┆ u32   │
╞═════════════════════╪════════╪══════════╪═══════╡
│ data bowl 2022      ┆ 2018   ┆ punt     ┆ 46780 │
│ asonty              ┆ 2018   ┆ kickoff  ┆ 33    │
│ data bowl 2022      ┆ 2019   ┆ pass     ┆ 456   │
│ data bowl 2022      ┆ 2020   ┆ kickoff  ┆ 59466 │
│ …                   ┆ …      ┆ …        ┆ …     │
│ asonty              ┆ 2019   ┆ pass     ┆ 4805  │
│ Highlights_NGS_2019 ┆ 2019   ┆ run      ┆ 243   │
│ data bowl 2022      ┆ 2018   ┆ pass     ┆ 189   │
│ asonty              ┆ 2018   ┆ run      ┆ 910   │
└─────────────────────┴────────┴──────────┴───────┘

In [8]:
(data.
 select("frameId").
 with_columns(pl.col("frameId").list.min().alias("Min")).
 select("Min").
 group_by("Min").
 count())

shape: (2, 2)
┌─────┬─────────┐
│ Min ┆ count   │
│ --- ┆ ---     │
│ i64 ┆ u32     │
╞═════╪═════════╡
│ 361 ┆ 6       │
│ 1   ┆ 1170103 │
└─────┴─────────┘

In [18]:
data.shape

(1170109, 17)